.header2 .logo{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header2 .navbar Link{
    font-size: 1.7rem;
    color: #fff;
}

.header2 .navbar Link:hover{
    color: var(--blue);
}

.userzin{
    margin-left: 1.5rem;
    width: 50px;
    filter: invert(100%);
}

.car{
    margin-left: 1.5rem;
    width: 40px;
    filter: invert(100%);
}

.home2{
    position: relative;
    top: -15px;
}